* {
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: blue;
    width: 100%;
}
p {
    color: white;
    width: 75%;
    text-align: center;
    margin: 5% auto;
}
h1 {
    text-align: center;
}